/* default css style, use custom.css to add styles */

img#logo {max-height: 200px;max-width: 100%;}

body {
    font-family: monospace;
    text-align: center;
}

ul {
    padding: 0;
    list-style: none;
}

table {
    margin: 2% auto;
    border: 1px solid;
    border-collapse: collapse;
}

td {
    border: solid 1px;
    padding: 3px 5px;
}

input[type="submit"], input[type="file"], input[type="password"] {
    padding: 1% 20px;
    margin: 5px;
    border-radius: 10px;
    border: solid 1px grey;
    max-width: 250px;
    width: 100%;
    background-color: #e8e8e8;
}